<div class="container">
<body>
	<h1>welcome to <span class="glyphicon glyphicon-music" aria-hidden="true"></span>Music Review !!</h1>
	<p style="line-height: 30px;">In <strong><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Music Review,</strong><br>you can share and exchange your opinions , inpressions , and emotions <br>about varioius Music!</p>

	<p class="btn btn-info container" style="display: block;"><%= link_to "Log in", new_user_session_path %></p>
	<p class="btn btn-success container" style="display: block;"><%= link_to "Sign Up", new_user_registration_path %></p>
	</div>
</body>