<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <%= render 'users/info' ,user: current_user %>
    
    <h2>New Music</h2>
    <%= render 'form', post: @post || Post.new %>
  </div>
    
  <div class="col-xs-9">
    <h2>Music</h2>
    <%= render 'index' , posts: @posts %>
  </div>
</div>